.page-nav {
    background: #dedede;
    margin-botton: 2px
}


#topnav {
    margin-top: 10x
    li {
        display: inline;
        padding: 5px 7px;
    }

    #site-name {
        font-size: 22px;
        margin-top: 10px;
    }
}

#footer {
    border-top: 1px solid #dedede;
    margin-top: 20px;
    padding: 20px;
}
